.ImageCard {
  width: 40%;
  height: 300px;
  min-height: 300px;
  max-height: 300px;
  border-radius: 16px;
  border: 2px solid #fff;
  box-shadow: 3px 3px 7px rgba(33, 33, 33, 0.67);
  margin: 2% 4%;
  padding: 10px;
  float: left;
  color: #333;
}
  .Default {
    background: #fff;
  }
  .Pic1 {
    background: url("../images/HomeImage.jpeg");
    background-size: cover;
    background-position: center;
  }
