
.TopNav {
  width: 100%;
  padding:15px;
  height: 50px;
  background: linear-gradient(to right, #ccc , #000);
    border-radius:50px;
  
}

.Top-nav-link {
  text-align:center;
  color:#fff;
  font-size: 1.2em;
  margin-left: 25px;
  text-decoration: none;
}